
<!--DataTable Header-->
<form (ngSubmit)="onSubmit()" novalidate [formGroup]="form">
	<div class="data-table-header">
	    <div class="row">
	        <ng-container *ngFor="let col of columns">
	            <span class="data-table-title">
	                {{col.name}}
	            </span>
	        </ng-container>
	    </div>
	</div>
	<!--DataTable Body-->
	<div formArrayName="rowsArray">
		<div *ngFor="let row of rowsArray.controls; let ridx = index">
		    <div class="data-table-row" [formGroup]="row">
		        <div class="row">
			            <ng-container *ngFor="let col of columns; let cidx = index">
			                <span *ngIf="col.type === 'string'" class="data-table-data-cell">
			                    <input [formControlName]="col.prop" type="text"  />
			                </span>
			            </ng-container>
		            <a href="JavaScript:void(0);" (click)="deleteClicked(ridx)">delete</a>
		        </div>
		    </div>
		</div>
	</div>
	<a href="JavaScript:void(0);" (click)="pushEmptyRow()">+ Add New Row</a>
	<br><br><br>
	<button color="primary" type="submit">Save</button>
</form>


<router-outlet></router-outlet>
